<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wickerlabs.exp_tr">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Expenses.Summaries" />
        <activity android:name=".Expenses.Today" />
        <activity android:name=".Expenses.Yesterday" />
        <activity
            android:name=".Expenses.AdderSheet"
            android:theme="@style/CustomPopUp" />
        <activity android:name=".DisplaysCharts.Disp1" />
        <activity android:name=".DisplaysCharts.Disp2" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Settings"></activity>
    </application>

</manifest>